
{% block content %}
<h4> Правила игры </h4>

<p>
В данном эксперименте 12 участников. Все участники будут случайным образом разделены на два типа.
    Восемь из вас станут игроками, а четверо – судьями.
</p>

<p>
В начале каждого раунда каждый участник любого типа получает 10 очков.
    Формируются группы из трех участников, каждая из которых состоит из двух
    игроков (типа А или Б) и судьи. Игроки должны будут самостоятельно
    выполнить задание в течение пяти минут. После выполнения задания каждый из игроков
    получит «оценку». Чем лучше он выполнит задание, тем выше будет его оценка.
    После окончания выполнения задания судья должен будет определить победителя.
    Победитель получит приз в 10 очков. Самому судье не придется выполнять задание.
    Он должен будет присудить приз одному из двух игроков своей группы, который будет
    прибавлен к заработку этого игрока, но не будет вычтен из заработка судьи.
</p>

<p>
Прежде чем судья примет решение о присуждении приза, каждому из игроков А и Б будет
    предоставлена возможность перевести очки судье из своей группы. Они смогут перевести
    любую сумму от 0 до 10. Как только оба игрока А и Б сделают свой выбор, судья увидит
    на экране своего компьютера оценки обоих участников, а также сумму очков, которую
    каждый из игроков решил ему перевести.
</p>

</p>
После этого начинается новый раунд, и все 12 участников заново случайным образом
разбиваются на тройки, состоящие из двух игроков и одного судьи. Вы сохраните свой тип,
игроки останутся игроками, судьи – судьями, но состав троек будет меняться. Правила для
всех десяти раундов идентичны. Раунды независимы.
</p>

<p>
В конце эксперимента каждому участнику будет выплачена сумма
    выигранных им очков по результатам одного из случайно
    выбранного раунда плюс плата за участие в размере 150 рублей.

</p>


{% endblock %}