{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}Введение{% endblock %}

{% block content %}
<p>
    Сегодня Вы принимаете участие в эксперименте по принятию решений,
    в ходе которого Вы можете заработать деньги. Сумма денег, которую вы можете
    заработать, зависит от Ваших решений и от решений других участников эксперимента.
    Оплата будет производиться конфиденциально в конце эксперимента, и Вы не должны
    сообщать другим участникам о сумме, которую Вы заработали. В ходе эксперимента
    ответы участников анонимны. Эксперимент займет приблизительно полтора часа.
</p>
{% include "bribery_effort_base_RU/Instructions.html" %}
<p>

</p>

{% next_button %}
{% endblock %}
