{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Игра: присуждение приза
{% endblock %}

{% block content %}

<p> Оценка игрока А {{ group.task_corrects_A }} очков. </p>
<p> Оценка игрока В {{ group.task_corrects_B }} очков. </p>
<p> Игрок А перевел Вам {{ group.contribution_A }} очков. </p>
<p> Игрок В перевел Вам {{ group.contribution_B }} очков. </p>

   {% formfield group.prize label="Какой игрок заслуживает присуждения приза?" %}



    {% next_button %}

{% endblock %}
