{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}Вопрос на понимание{% endblock %}

{% block content %}

<p>
Предположим, что в одном из раундов игрок А решил перевести судье три очка.
Игрок В перевел судье четыре очка.
Судья решил присудить приз игроку А.
Сколько очков выиграет каждый из игроков в этом раунде?

</p>

{% formfield player.training_answer_A label="Сколько очков выиграет игрок A?" %}
{% formfield player.training_answer_B label="Сколько очков выиграет игрок B?" %}
{% formfield player.training_answer_C label="Сколько очков выиграет судья?" %}


{% next_button %}
{% endblock %}
