{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Результаты
{% endblock %}

{% block content %}
<p> Вы судья в этой игре. </p>
<p> Оценка игрока А составила {{ group.task_corrects_A }} очков. </p>
<p> Оценка игрока В составила {{ group.task_corrects_B }} очков. </p>
<p> Игрок А перевел Вам {{ group.contribution_A }} очков.</p>
<p> Игрок В перевел Вам {{ group.contribution_B }} очков. </p>
<p> Вы присудили приз {{ group.get_winner_name.dative }}.  </p>
<p> Ваш выигрыш в этом раунде составил {{ player.pay| json }} очков. </p>
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->


    {% next_button %}
{% endblock %}


