{% load otree_tags staticfiles %}
<div class="instructions well well-lg">
<h3 class="panel-sub-heading">
Инструкции
</h3>
<p>
Вы играете в группе с другими участниками в течение {{Constants.num_rounds}} раундов.
</p><p>
В каждом раунде каждый из вас получает равную сумму {{ Constants.endowment }}, и решает, в какой пропорции разбить ее
    между <b>личным счетом</b> и <b>общим счетом</b>.
Ваш доход зависит как от ваших решений, так и от решений остальных. В дополнение к выигрышам за игру, каждый из вас
    в конце получит безусловный доход в {{ Constants.lumpsum }}.
</p>
</div>